<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Fill the form to add/edit book</h1>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="title" placeholder="e.g Coding"><br>
        <select name="author">
        <option value="">author</option>
            {% for a in authors %}
            <option value="">{{ a.first_name }}</option>
            {% endfor %}
        </select><br>
        <input type="number" name="pages"><br>
        <input type="number" name="price"><br>
        <input type="text" name="description" placeholder="e.g Good book"><br>
        <button type="submit">save</button>
        <button type="reset">clear</button>
    </form>
</body>
</html>