<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Books below</h1>
    book title: {{ object.title }}<br>    
    book author: {{ object.author }}<br>    
    book pages: {{ object.pages }}<br>    
    book price: {{ object.price }}<br>    
    book description: <b>{{ object.description }}</b><br>
    <form action="{% url 'book_delete' object.pk %}" method="POST" style="display: inline;">
    {% csrf_token %}
    <button type="submit">delete</button>
    </form>
<a href="{% url 'update' object.pk %}"><button>edit</button></a>    <hr>    

</body>
</html>